shairport-sync-for-openwrt with tinysvcmdns does not advertise its IP address

I am trying to use shairport-sync-for-openwrt without avahi, by using --with-tinysvcmdns instead. With the Makefile below I can successfully build shairport, and when I am running shairport it does advertise a _raop._tcp. service, but it does not adverise its own IP address. Hence, iTunes does see the device but then ultimately the connection fails.

![bildschirmfoto 2014-11-22 um 16 36 01](https://cloud.githubusercontent.com/assets/2480569/5154590/b2f9ed0c-7265-11e4-9330-93f372612ac4.png)

```
#
# Copyright (C) 2014 OpenWrt.org  
#
# This is free software, licensed under the GNU General Public License v2.
# See /LICENSE for more information.
# updated to work with latest source from abrasive
#

include $(TOPDIR)/rules.mk

PKG_NAME:=shairport-sync
PKG_VERSION:=2.1.10
PKG_RELEASE:=$(PKG_SOURCE_VERSION)

PKG_SOURCE_PROTO:=git
PKG_SOURCE_URL:=git://github.com/mikebrady/shairport-sync.git
PKG_SOURCE_VERSION:=$(PKG_VERSION)
PKG_SOURCE_SUBDIR:=$(PKG_NAME)-$(PKG_VERSION)
PKG_SOURCE:=$(PKG_NAME)-$(PKG_VERSION)-$(PKG_SOURCE_VERSION).tar.gz

PKG_BUILD_PARALLEL:=1

PKG_BUILD_DEPENDS:= +libpthread +libopenssl +alsa-lib +libdaemon

include $(INCLUDE_DIR)/package.mk

CONFIGURE_ARGS+= \
	--with-alsa \
	--with-tinysvcmdns \
	--with-ssl=openssl

define Build/Configure
	(cd $(PKG_BUILD_DIR); autoreconf -i -f)
	$(call Build/Configure/Default, )
endef

define Package/shairport-sync/Default
  SECTION:=sound
  CATEGORY:=Sound
  TITLE:=iPhone/iTunes/Quicktime Player compatible Audio Player
endef


define Package/shairport-sync
  $(Package/shairport-sync/Default)
   DEPENDS:= +libpthread +libopenssl +tinysvcmdns +alsa-lib +libdaemon +libsoxr +libpopt
endef

define Package/shairport-sync/description
  Shairport Sync is server software that implements the Apple-originated RAOP protocol for
  playback of audio from a compatible remote client such as the iPhone, iTunes, Apple TV, Quicktime Player or forked-daapd.
  Shairport Sync implements audio synchronisation, supporting multi-room use.
  Shairport Sync supports audio only.
endef


define Package/shairport-sync/install
	$(INSTALL_DIR) $(1)/usr/bin
	$(INSTALL_BIN) $(PKG_BUILD_DIR)/shairport-sync $(1)/usr/bin/
	$(INSTALL_DIR) $(1)/etc/init.d
	$(INSTALL_DIR) $(1)/etc/config
	$(INSTALL_BIN) ./files/init.d/shairport-sync $(1)/etc/init.d/
	$(INSTALL_DATA) ./files/config/shairport-sync $(1)/etc/config/
	$(INSTALL_DATA) ./files/asound.conf $(1)/etc/
endef

```

Quick question. Does the device itself actually have an IP address, e.g. from a DHCP service or from a static IP assignment?


Yes, it does, from DHCP.


Thanks. I can reproduce the problem, so I'll investigate...


Thank you for bringing this to my attention. Support for `tinysvcmdns` was inherited from `shairport 1.0`, and TBH, I didn't look at it too closely. AFAICT it turns out that it probably never worked, and if it did, it worked badly. I've identified two faults, and hopefully fixed them.
1. The problem causing the issue you reported was that the hostname being used did not end with ".local" – fixed.
2. The other problem was that the service would often quickly disappear from the network and then reappear later. I actually don't know what that problem is specifically, but I noticed that tinysvcmnds, as configured, does not conform to the TTL timings recommended in RFC 6762 section 10. Having [I think] fixed that, the service seems to stay visible reliably.

I have pushed the updates but I haven't made a new release yet, but I'd be obliged if you would try it out. To do so, use the Makefile you quote above, but change the line that reads:

```
PKG_VERSION:=2.1.10
```

to

```
PKG_VERSION:=HEAD
```

It's a good idea to go into the downloads cache – the `dl` folder in your OpenWrt folder – and remove any packages labeled with shairport-sync to make sure you don't build from stale packages.

There's a slight error in your Makefile. You should remove the phrase `+tinysvcmdns` from the line that reads:

```
DEPENDS:= +libpthread +libopenssl +tinysvcmdns +alsa-lib +libdaemon +libsoxr +libpopt
```

Finally, to get mDNS's multicast functionality to work on this kind of system, I had to add a route with the following command:

```
route add -net 224.0.0.0 netmask 224.0.0.0 eth0
```

Please let me know how you get on – it seems to work quite well for me.


Works for me, thank you very much.
I did not have to do the route add, by the way.


Can we reopen this bug? I can still reproduce it in a different way:
Initial playback works fine, however, after the first song, an outgoing call will always break shairport, to clarify:
1) Play a song, wait for it to finish and for the next song to start
2) Dial a number, end after a second or two.
3) Wait for playback to resume.

Ultimately, the AirPlay icon disappears, and a Bonjour browser shows that the IP address is now missing.

Edit: What I don't get though, is the bonjour broadcast done once at startup, or does it happen every now and then? If so, could we hardcode the IP with a parameter? Sure it's a hack, but it's way easier than fixing tinysvcmdns.


Thanks for the report! Due to work and other commitments, it'll probably be about two weeks before I can look at this. Just a couple of questions though: what version of shairport-sync? How does the device get an IP number? Is it via DHCP or something else, and what kind number is it: 10.x..., 192.x... or what? Are you using Bonjour Browser on a Mac?

You could give the device a static IP number, sure, but if it's getting a number correctly, it shouldn't make a difference. 


The latest HEAD, I'm the same person who reported the other popt bug :)

The router is running shairport, so it's always 192.168.1.1, the connected iOS device has a static IP set on the device itself.

I'm using Bonjour Browser on a Mac and a similar app on iOS, the former just doesn't show shairport (it did show it once without the IP though), while the latter shows it but fails to resolve it.


Yeah, I recognised the name alright :). Thanks for the information.

AFAIK the bonjour broadcast is done at startup, and any device that's interested in the service will cache the information. It has a time-to-live, however, and when it's nearly at the end of its life, one of the interested devices will put out a query and get a new response, which it will cache again (and other interested devices will cache too). A device looking for a bonjour-advertised service will put out a query when it starts up, which will elicit a bonjour broadcast from service advertisers. If no device is interested in a service, it will disappear. 


I'm guessing tinysvcmdns is really REALLY broken.

I spent yesterday doing OpenWRT builds with both shairport and shairport-sync. I could never fit shairport-sync in an image until I found out you could get rid of opkg. shairport frustrated me since I had to cherry pick your OpenSSL -> PolarSSL changes to make it fit, then controls always lagged (there was a good second or two between a pause and the real pause happening), but with avahi, it was always a consistent connection.

So I tried another final build today with shairport-sync, avahi, and alsa, and it's been working fine for the past hour: calls and Siri don't interrupt it, neither do I have to restart shairport-sync whenever I conenct. I guess tinysvcmdns should be dropped.


Thanks for your report – it seems you put a lot of work into it! Tinysvcmdns was 'inherited' from shairport 1.0 and – it seems to me now – could never have worked. I hoped that the timing changes introduced recently would have fully fixed it. If it can't be fixed in the next three weeks or so, I agree that it should be dropped – no reflection on the quality of tinysvcmdns itself, of course. Also, I note that there are moves to incorporate another zeroconf implementation in OpenWrt, but it's a "work in progress" at the moment. 


Please do not drop Tinysvcmdns as it appears to work very well for me. At least when I use https://github.com/probonopd/shairport-sync-for-openwrt


Not going to do anything suddenly, I promise. It's frustrating for me that I won't be able to look at this for about two weeks...


@MohammadAG, what kind of a machine are you using?


Hi there @MohammadAG. I've tried out your scenario, as follows:
Setup: WiFi network from a second generation Apple Time Capsule, iPhone 6 running 8.0.2. Raspberry Pi running OpenWrt trunk, r44011. The Pi is connected via wired ethernet to the Time Capsule. Music is via the iPhone's Music app.

Playing a song, allowing the second to start and making an outgoing call stops music play, which does not resume on ending the call. Also, the Shairport Sync device is deselected as the iPhones's AirPlay destination. However, the Shairport Sync device stays in operation, stays visible, etc. and can be selected and played to again as normal.

If the phone receives a call while playing music, the music stops but resumes if the call is unanswered. 

If the incoming call is answered, then when the call ends, music does not resume and Shairport Sync is deselected as the AirPlay destination. Again, however, the Shairport Sync device stays in operation, stays visible, etc. and can be selected and played to again as normal.

So, respectfully, I'm inclined to say it works properly for me, and maybe there is something else going on in your network or system...

BTW, here is the modified Makefile I'm using (I guess the choices of PolarSSL and libsoxr are irrelevant, but YMMV):

```
#
# Copyright (C) 2014-2015 OpenWrt.org  
#
# This is free software, licensed under the GNU General Public License v2.
# See /LICENSE for more information.
# updated to work with latest source from abrasive
#

include $(TOPDIR)/rules.mk

PKG_NAME:=shairport-sync
PKG_VERSION:=2.1.15
PKG_RELEASE:=$(PKG_SOURCE_VERSION)

PKG_SOURCE_PROTO:=git
PKG_SOURCE_URL:=git://github.com/mikebrady/shairport-sync.git
PKG_SOURCE_VERSION:=$(PKG_VERSION)
PKG_SOURCE_SUBDIR:=$(PKG_NAME)-$(PKG_VERSION)
PKG_SOURCE:=$(PKG_NAME)-$(PKG_VERSION)-$(PKG_SOURCE_VERSION).tar.gz

PKG_FIXUP:=autoreconf

PKG_BUILD_PARALLEL:=1

PKG_BUILD_DEPENDS:= +libpthread +libpolarssl +libavahi-client +alsa-lib +libdaemon +libsoxr

include $(INCLUDE_DIR)/package.mk

CONFIGURE_ARGS+= \
    --with-alsa \
    --with-tinysvcmdns \
    --with-soxr \
    --with-ssl=polarssl

define Package/shairport-sync/Default
  SECTION:=sound
  CATEGORY:=Sound
  TITLE:=iPhone/iTunes/Quicktime Player compatible Audio Player
endef


define Package/shairport-sync
  $(Package/shairport-sync/Default)
   DEPENDS:= +libpthread +libpolarssl +alsa-lib +libdaemon +libsoxr +libpopt
endef

define Package/shairport-sync/description
  Shairport Sync is server software that implements the Apple-originated RAOP protocol for
  playback of audio from a compatible remote client such as the iPhone, iTunes, Apple TV, Quicktime Player or forked-daapd.
  Shairport Sync implements audio synchronisation, supporting multi-room use.
  Shairport Sync supports audio only.
endef


define Package/shairport-sync/install
    $(INSTALL_DIR) $(1)/usr/bin
    $(INSTALL_BIN) $(PKG_BUILD_DIR)/shairport-sync $(1)/usr/bin/
    $(INSTALL_DIR) $(1)/etc/init.d
    $(INSTALL_DIR) $(1)/etc/config
    $(INSTALL_BIN) ./files/init.d/shairport-sync $(1)/etc/init.d/
    $(INSTALL_DATA) ./files/config/shairport-sync $(1)/etc/config/
    $(INSTALL_DATA) ./files/asound.conf $(1)/etc/
endef


$(eval $(call BuildPackage,shairport-sync))
```


I've been testing the build since the last message, and it works fine, so I'm going to close the issue saying "works for me". Feel free to reopen it if necessary.


Normal operation would be for the AirPlay route to stay selected after the call, but again, I'm using avahi and everything works as expected. I don't mind the wontfix :)

Sorry about the late reply, I just noticed the emails.
